HackYeah/.vs/HackYeah/v15/Server/sqlite3/db.lock
*.lock
HackYeah/.vs/HackYeah/v16/Server/sqlite3/storage.ide
HackYeah/.vs/HackYeah/v16/Server/sqlite3/storage.ide-shm
HackYeah/.vs/HackYeah/v16/Server/sqlite3/storage.ide-wal
HackYeah/.vs/HackYeah/config/applicationhost.config
HackYeah/HackYeah/bin/Debug/netcoreapp2.0/HackYeah.deps.json
HackYeah/HackYeah/bin/Debug/netcoreapp2.0/HackYeah.runtimeconfig.dev.json
HackYeah/HackYeah/bin/Release/netcoreapp2.0/HackYeah.runtimeconfig.dev.json
HackYeah/HackYeah/obj/Release/netcoreapp2.0/HackYeah.AssemblyInfo.cs
HackYeah/HackYeah/obj/Release/netcoreapp2.0/HackYeah.csproj.FileListAbsolute.txt
HackYeah/HackYeah/obj/Release/netcoreapp2.0/microsoft.aspnetcore.mvc.razor.viewcompilation.rsp
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/HackYeah.Parameters.xml
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/HackYeah.SourceManifest.xml
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/appsettings.Development.json
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/appsettings.json
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/HackYeah.deps.json
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/HackYeah.runtimeconfig.json
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/runtimes/linux-arm/native/libuv.so
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/runtimes/linux-arm64/native/libuv.so
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/runtimes/linux-armel/native/libuv.so
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/runtimes/linux-x64/native/libe_sqlite3.so
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/runtimes/linux-x64/native/libuv.so
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/runtimes/linux-x86/native/libe_sqlite3.so
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/runtimes/osx-x64/native/libe_sqlite3.dylib
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/runtimes/osx/native/libuv.dylib
HackYeah/HackYeah/obj/Release/netcoreapp2.0/PubTmp/Out/web.config
HackYeah/HackYeah/Properties/PublishProfiles/HY19 - Web Deploy.pubxml
HackYeah/HackYeah/obj/Debug/netcoreapp2.0/HackYeah.csproj.FileListAbsolute.txt
HackYeah/HackYeah/obj/project.assets.json
HackYeah/HackYeah/obj/HackYeah.csproj.nuget.g.targets
HackYeah/HackYeah/obj/HackYeah.csproj.nuget.g.props
HackYeah/HackYeah/obj/HackYeah.csproj.nuget.dgspec.json
HackYeah/HackYeah/obj/HackYeah.csproj.EntityFrameworkCore.targets
HackYeah/HackYeah/obj/Debug/netcoreapp2.0/PubTmp/TestProfilesForFilePreview/HY19 - Web Deploy.pubxml
HackYeah/HackYeah/obj/project.assets.json
HackYeah/HackYeah/obj/HackYeah.csproj.nuget.g.targets
HackYeah/HackYeah/obj/HackYeah.csproj.nuget.g.props
HackYeah/HackYeah/bin/Release/netcoreapp2.0/HackYeah.runtimeconfig.json
HackYeah/HackYeah/bin/Release/netcoreapp2.0/HackYeah.deps.json
HackYeah/HackYeah/bin/Debug/netcoreapp2.0/HackYeah.runtimeconfig.json
HackYeah/HackYeah/obj/project.assets.json
HackYeah/HackYeah/obj/HackYeah.csproj.nuget.g.targets
HackYeah/HackYeah/obj/HackYeah.csproj.nuget.g.props
